body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 2px; /* Width of the entire scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgray; /* Color of the scroll thumb */
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4096ff; /* Color of the scroll thumb on hover */
}

/* Track */
::-webkit-scrollbar-track {
  background: #141414; /* Color of the scrollbar track */
}